@model List<MS_Models.Model.Session>;
@{
    ViewBag.Title = "Session";
    ViewBag.pTitle = "Session";
    ViewBag.pageTitle = "Session Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{
    <!-- DataTables -->
    <link href="~/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />

    <!-- Responsive datatable examples -->
    <link href="~/assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />
}
<style>
    .cursor-pointer {
        cursor: pointer;
    }
</style>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <div class="row mb-3">
                    <div class="col-md-6">
                        <h4 class="card-title float-left">Session</h4>
                    </div>
                    <div class="col-md-6">
                        <a class="btn btn-primary text-light float-right btnadd" data-toggle="modal" data-target=".addeditSession">Add</a>
                    </div>
                </div>

                <table id="datatable" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead>
                        <tr>
                            <th>Sr</th>
                            <th hidden>Sessionid </th>
                            <th>Session Name</th>
                            <th>Start Name</th>
                            <th>End Name</th>
                            <th>isActive</th>
                            <th>Action</th>
                        </tr>
                    </thead>


                    <tbody>
                        @if (Model != null)
                        {
                            int i = 1;
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>@i</td>
                                    <td hidden><span class="SessId">@item.Id</span></td>
                                    <td><span class="SessName">@item.SessionName</span></td>
                                    <td><span class="SessStartDate">@item.StartDate?.ToString("dd-MMM-yyyy")</span></td>
                                    <td><span class="SessEndDate">@item.EndDate?.ToString("dd-MMM-yyyy")</span></td>
                                    <td>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input rbIsActive" id="customCheckcolor1" @(item.IsAtive ? "checked" : "")>
                                            <label class="custom-control-label" for="customCheckcolor1"></label>
                                        </div>
                                    </td>
                                    <td><i class="fa fa-edit text-primary cursor-pointer SessionEdit" data-toggle="modal" data-target=".addeditSession"></i> <i class="fa fa-trash text-danger cursor-pointer"></i></td>
                                </tr>
                                i++;
                            }
                        }

                    </tbody>
                </table>

            </div>
        </div>
    </div> <!-- end col -->
</div> <!-- end row -->
@* Model Start *@
<div class="modal fade addeditSession" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0" id="myExtraLargeModalLabel">Add / Edit Session</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <form asp-controller="Session" asp-action="AddOrUpdateSession">
                                <div class="form-group row">

                                    <input class="form-control mt-2 txtSessionid" name="SessionId" type="hidden" id="txtSessionId">

                                    <label for="example-text-input" class="col-md-2 col-form-label">Session Name *</label>
                                    <div class="col-md-4">
                                        <input class="form-control mt-2 txtSessionname" name="SessionName" type="text" id="txtSessioName">
                                    </div>

                                    <label for="example-text-input" class="col-md-2 col-form-label">Start Date *</label>
                                    <div class="col-md-4">
                                        <input class="form-control mt-2" name="StartDate" type="date" id="txtSessionStartDate">
                                    </div>

                                    <label for="example-text-input" class="col-md-2 col-form-label">End Date *</label>
                                    <div class="col-md-4">
                                        <input class="form-control mt-2" name="EndDate" type="date" id="txtSessionEndDate">
                                    </div>

                                    <label for="example-text-input" class="col-md-2 col-form-label">isActive</label>
                                    <div class="col-md-4">
                                        <div class="custom-control custom-checkbox mt-2">
                                            @*<input type="hidden" name="IsActive" value="true" />*@
                                            <input type="checkbox" name="IsActive" class="custom-control-input" id="rbIsActive" value="true" checked>
                                            <label class="custom-control-label" for="rbIsActive"></label>
                                        </div>
                                    </div>

                                    <div class="col-md-12 mt-2 text-center">
                                        <button class="btn btn-primary btnaddedit" type="submit">Save</button>
                                        <button type="button" class="btn btn-danger" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">Cancel</span>
                                        </button>
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
@*  Model End *@



@section scripts{
    <!-- Required datatable js -->
    <script src="~/assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <!-- Buttons examples -->
    <script src="~/assets/libs/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/assets/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
    <script src="~/assets/libs/jszip/jszip.min.js"></script>
    <script src="~/assets/libs/pdfmake/build/pdfmake.min.js"></script>
    <script src="~/assets/libs/pdfmake/build/vfs_fonts.js"></script>
    <script src="~/assets/libs/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/assets/libs/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/assets/libs/datatables.net-buttons/js/buttons.colVis.min.js"></script>
    <!-- Responsive examples -->
    <script src="~/assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
    <!-- Datatable init js -->
    <script src="~/assets/js/pages/datatables.init.js"></script>

    <script src="~/assets/js/app.js"></script>

    <script>
        @if (TempData["ErrorMessage"] != null)
        {
            string errorMessage = TempData["ErrorMessage"].ToString();
            <text>
                    toastr.error('Error', '@Html.Raw(errorMessage)');
            </text>
        }

        @if (TempData["SuccessMessage"] != null)
        {
            string successMessage = TempData["SuccessMessage"].ToString()!;
            <text>
                    toastr.success('Success', '@Html.Raw(successMessage)');
            </text>
        }

        $(document).ready(function () {

            function FormatedDate(date) {
                var dateStr = date; // Your date string
                var parts = dateStr.split('-');
                var day = parseInt(parts[0]);
                var month = parts[1];
                var year = parseInt(parts[2]);
                var monthNumber = {
                    "Jan": 0, "Feb": 1, "Mar": 2, "Apr": 3, "May": 4, "Jun": 5,
                    "Jul": 6, "Aug": 7, "Sep": 8, "Oct": 9, "Nov": 10, "Dec": 11
                };
                var formattedDate = new Date(year, monthNumber[month], day).toISOString().split('T')[0];

                return formattedDate;
            }

            $("#rbIsActive").change(function () {
                $(this).val(this.checked.toString());
            });

            $('.SessionEdit').on('click', function () {
                var SessId = $(this).closest('tr').find('.SessId').text();
                var SessName = $(this).closest('tr').find('.SessName').text();
                var SessStartDate = $(this).closest('tr').find('.SessStartDate').text();
                var SessEndDate = $(this).closest('tr').find('.SessEndDate').text();
                var IsActive = $(this).closest('tr').find('.rbIsActive').prop("checked");
                $('#txtSessionId').val(SessId);
                $('#txtSessioName').val(SessName);
                $('#txtSessionStartDate').val(FormatedDate(SessStartDate));
                $('#txtSessionEndDate').val(FormatedDate(SessEndDate));
                $('#rbIsActive').prop("checked", IsActive);
            });
        });
    </script>
}
