<!-- ========== Left Sidebar Start ========== -->
<div class="vertical-menu">

    <div data-simplebar class="h-100">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title">Menu</li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-home-circle"></i><span class="badge badge-pill badge-info float-right">3</span>
                        <span>Dashboards</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="@Url.Action("Index","Dashboard")">Default</a></li>
                        <li><a href="@Url.Action("dashboard-saas", "Dashboard")">Saas</a></li>
                        <li><a href="@Url.Action("dashboard-crypto", "Dashboard")">Crypto</a></li>
                    </ul>
                </li>
                 <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-user"></i>
                        <span>User Management</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="@Url.Action("Index","Student")">User Entry</a></li>
                        <li><a href="@Url.Action("dashboard-saas", "Dashboard")">User List</a></li>
                    </ul>
                </li>

                  <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-menu"></i>
                        <span>Role Management</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="@Url.Action("Index","Student")">Role Entry</a></li>
                        <li><a href="@Url.Action("dashboard-saas", "Dashboard")">Role List</a></li>
                    </ul>
                </li>

                 <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-key"></i>
                        <span>Permission Management</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="@Url.Action("Index","Student")">Permission Entry</a></li>
                        @*<li><a href="@Url.Action("dashboard-saas", "Dashboard")">Permission List</a></li>*@
                    </ul>
                </li>


                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="fas fa-graduation-cap"></i>
                        <span>Admission Management</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="@Url.Action("Index","Student")">Admission Form </a></li>
                        @*<li><a href="@Url.Action("dashboard-saas", "Dashboard")">Admission Form List</a></li>*@
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-building-house"></i>
                        <span>Campus Management</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="@Url.Action("Index","Campus")">Campus Form</a></li>
                        <li><a href="@Url.Action("dashboard-saas", "Dashboard")">Campus View</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-calendar"></i>
                        <span>Session Management</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="@Url.Action("Index","Session")">Session Form</a></li>
                        @*<li><a href="@Url.Action("dashboard-saas", "Dashboard")">Session View</a></li>*@
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-pen"></i>
                        <span>Saction Management</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="@Url.Action("Index","Section")">Section Form</a></li>
                        @*<li><a href="@Url.Action("dashboard-saas", "Dashboard")">Saction View</a></li>*@
                    </ul>
                </li>

                  <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-book"></i>
                        <span>Class Management</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="@Url.Action("Index","Class")">Class Form</a></li>
                        @*<li><a href="@Url.Action("dashboard-saas", "Dashboard")">Class View</a></li>*@
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-book-open"></i>
                        <span>Subjects Management</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="@Url.Action("Index","Student")">Subjects Entry</a></li>
                        <li><a href="@Url.Action("dashboard-saas", "Dashboard")">Subjects View</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-check"></i>
                        <span>Attendance Management</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="@Url.Action("Index","Student")">Attendance Entry</a></li>
                        <li><a href="@Url.Action("dashboard-saas", "Dashboard")">Attendance View</a></li>
                    </ul>
                </li>

                 <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-money"></i>
                        <span>Fees Management</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="@Url.Action("Index","FeeStructure")">FeeStructure Type</a></li>
                        <li><a href="@Url.Action("dashboard-saas", "Dashboard")">Fees Payment</a></li>
                        <li><a href="@Url.Action("dashboard-saas", "Dashboard")">Print Fees voucher</a></li>
                    </ul>
                </li>

                

            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>
<!-- Left Sidebar End -->